@model Web.ViewModels.CreatePostViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <form method="post" asp-controller="Home" asp-action="CreateUser">
        <div class="sm:col-span-3 my-3">
            <label for="title" class="text-md font-medium leading-6 text-gray-900">Title</label>
            <div class="mt-2">
                <input asp-for="Title" placeholder="Enter title..." type="text" name="title" id="title" class="w-50 rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>
        <textarea id="editor" asp-for="Description"></textarea>
        <div class="mt-4 flex items-center justify-end gap-x-3">
            <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
            <button type="reset" id="reset-button" class="text-sm leading-6 text-white bg-slate-600 px-3 py-2 rounded-md">Reset</button>
            <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
        </div>
    </form>
</div>

<script>
    const editor = new FroalaEditor('#editor');

    document.getElementById('reset-button').addEventListener('click', function () {
        editor.html.set(''); // Reset Froala content to an empty string
    });
</script>